
.cover {
  min-width: 250px;
  max-width: 500px;
  width: 100%;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}


.mat-card{
  margin-top: 3px;
  height: 85%;
  background-color: #F0F0F0;
}

